In [1]:
print ("hello world 3")

hello world 3

### ciclos for en python

In [2]:
for var in range(5):
    print("Hola")

Hola
Hola
Hola
Hola
Hola

In [3]:
for value in range(5):
    print(value)

0
1
2
3
4

In [4]:
for value in range(2,5):
    print(value)

2
3
4

In [5]:
for value in range(1,5,2):
    print(value)

1
3

In [6]:
for value in range(1,11):
    print(value)

1
2
3
4
5
6
7
8
9
10

In [9]:
for value in range(1,11):
    print(f"El Cuadrado de este {value} es", value**2)

El Cuadrado de este 1 es 1
El Cuadrado de este 2 es 4
El Cuadrado de este 3 es 9
El Cuadrado de este 4 es 16
El Cuadrado de este 5 es 25
El Cuadrado de este 6 es 36
El Cuadrado de este 7 es 49
El Cuadrado de este 8 es 64
El Cuadrado de este 9 es 81
El Cuadrado de este 10 es 100

In [16]:
for value in range(10, 0, -1):
    print(value)

10
9
8
7
6
5
4
3
2
1

In [17]:
# Condicionales
# Operadores de comparacion
# > mayor que
# < menor que
#  >= mayor igual
#  <= meno igual
#  == igual?
#  != diferente

day = "domingo"
if day == "domingo":
    print("voy a clases")

voy a clases

In [25]:
# ingreso por teclado
day = input("Dia de la semana: ")
# convertir a minuscula
day = day.lower()

print(day)

if day == "domingo":
    print("voy a clases")
else:
    print("no es domingo")

domingo
voy a clases

In [27]:
# Buscar los numeros pares
100  % 2

0

In [30]:
# Buscar los numeros pares del 1 al 10
for number in range(1,21):
    if (number % 2) == 0:
        print(f"{number} es par")

2 es par
4 es par
6 es par
8 es par
10 es par
12 es par
14 es par
16 es par
18 es par
20 es par

In [34]:
# ingreso por teclado
day = input("Dia de la semana: ")
# convertir a minuscula
day = day.lower()

print(day)

# print(day)

if day == "domingo":
    print("voy a clases")

elif day == "sabado":
    print("es sabado")

elif day == "lunes":
    print("es lunes")

else:
    print("no es dia valido")

casa
no es dia valido

## Listas

In [35]:
list_1 = ["monday", "tuesday", 1, 2, 0.8]

In [40]:
names = ["josefino", "maria", "ruperto"]

In [42]:
# append
names.append("guillermo")

In [43]:
names

['josefino', 'maria', 'ruperto', 'guillermo']

In [44]:
names_2 = names.copy()

In [45]:
names_2

['josefino', 'maria', 'ruperto', 'guillermo']

In [46]:
# count
names_2.count("maria")

1

In [47]:
names.index("maria")

1

In [48]:
# el pop siempre sacara al ultimo de la lista si no se especifica
names_2.pop()

'guillermo'

In [50]:
# aca si el pop especifica a quien descartare, se vera que ocurre
names_2.pop(1)

'maria'

In [51]:
names_2 = names_2.pop()

In [52]:
names_2

'ruperto'

In [54]:
# aqui podemos ver que tenemos todo a diferencia de names_2, esa es la importancia del copy, ya que te da un respaldo
names

['josefino', 'maria', 'ruperto', 'guillermo']

In [55]:
# invierte el orden de la lista
names.reverse()

In [56]:
names

['guillermo', 'ruperto', 'maria', 'josefino']

In [57]:
names.sort()

In [60]:
# vemos que los ordeno de acuerdo a su inicial, gracias a el sort
names

['guillermo', 'josefino', 'maria', 'ruperto']

In [62]:
# slices
names[1:3]

['josefino', 'maria']

In [63]:
names[:2]

['guillermo', 'josefino']

In [64]:
names[: -1]

['guillermo', 'josefino', 'maria']

In [69]:
# guardar numeros pares en una lista
# lista

pares_list = []
for number in range(1, 11):
    if (number % 2) == 0:
        pares_list.append(number)

pares_list

[2, 4, 6, 8, 10]

In [72]:
# guardar en una lista el cuadrado de los numeros impares del 1 al 100

imparescuadr_list = []
for number in range(1, 101):
    if (number % 2) == 1:
        print(f"El cuadrado de este {number} es", number**2)
        imparescuadr_list.append(number**2)

El cuadrado de este 1 es 1
El cuadrado de este 3 es 9
El cuadrado de este 5 es 25
El cuadrado de este 7 es 49
El cuadrado de este 9 es 81
El cuadrado de este 11 es 121
El cuadrado de este 13 es 169
El cuadrado de este 15 es 225
El cuadrado de este 17 es 289
El cuadrado de este 19 es 361
El cuadrado de este 21 es 441
El cuadrado de este 23 es 529
El cuadrado de este 25 es 625
El cuadrado de este 27 es 729
El cuadrado de este 29 es 841
El cuadrado de este 31 es 961
El cuadrado de este 33 es 1089
El cuadrado de este 35 es 1225
El cuadrado de este 37 es 1369
El cuadrado de este 39 es 1521
El cuadrado de este 41 es 1681
El cuadrado de este 43 es 1849
El cuadrado de este 45 es 2025
El cuadrado de este 47 es 2209
El cuadrado de este 49 es 2401
El cuadrado de este 51 es 2601
El cuadrado de este 53 es 2809
El cuadrado de este 55 es 3025
El cuadrado de este 57 es 3249
El cuadrado de este 59 es 3481
El cuadrado de este 61 es 3721
El cuadrado de este 63 es 3969
El cuadrado de este 65 es 4225
El cuadrado de este 67 es 4489
El cuadrado de este 69 es 4761
El cuadrado de este 71 es 5041
El cuadrado de este 73 es 5329
El cuadrado de este 75 es 5625
El cuadrado de este 77 es 5929
El cuadrado de este 79 es 6241
El cuadrado de este 81 es 6561
El cuadrado de este 83 es 6889
El cuadrado de este 85 es 7225
El cuadrado de este 87 es 7569
El cuadrado de este 89 es 7921
El cuadrado de este 91 es 8281
El cuadrado de este 93 es 8649
El cuadrado de este 95 es 9025
El cuadrado de este 97 es 9409
El cuadrado de este 99 es 9801

In [73]:
imparescuadr_list

[1,
 9,
 25,
 49,
 81,
 121,
 169,
 225,
 289,
 361,
 441,
 529,
 625,
 729,
 841,
 961,
 1089,
 1225,
 1369,
 1521,
 1681,
 1849,
 2025,
 2209,
 2401,
 2601,
 2809,
 3025,
 3249,
 3481,
 3721,
 3969,
 4225,
 4489,
 4761,
 5041,
 5329,
 5625,
 5929,
 6241,
 6561,
 6889,
 7225,
 7569,
 7921,
 8281,
 8649,
 9025,
 9409,
 9801]

In [74]:
len(imparescuadr_list)

50

In [76]:
for imparescuadr_list in range(len(imparescuadr_list)):
    print(imparescuadr_list)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [77]:
for value in range(len(names)):
    print(names[value])

guillermo
josefino
maria
ruperto