In [1]:
print ("hello world 3")

hello world 3

### ciclos for en python

In [2]:
for var in range(5):
    print("Hola")

Hola
Hola
Hola
Hola
Hola

In [3]:
for value in range(5):
    print(value)

0
1
2
3
4

In [4]:
for value in range(2,5):
    print(value)

2
3
4

In [5]:
for value in range(1,5,2):
    print(value)

1
3

In [6]:
for value in range(1,11):
    print(value)

1
2
3
4
5
6
7
8
9
10

In [9]:
for value in range(1,11):
    print(f"El Cuadrado de este {value} es", value**2)

El Cuadrado de este 1 es 1
El Cuadrado de este 2 es 4
El Cuadrado de este 3 es 9
El Cuadrado de este 4 es 16
El Cuadrado de este 5 es 25
El Cuadrado de este 6 es 36
El Cuadrado de este 7 es 49
El Cuadrado de este 8 es 64
El Cuadrado de este 9 es 81
El Cuadrado de este 10 es 100

In [16]:
for value in range(10, 0, -1):
    print(value)

10
9
8
7
6
5
4
3
2
1